@import "tailwindcss";

@font-face {
  font-family: "Source-sans";
  src: url("../src/assets/Fonts/SourceSans3-VariableFont_wght.ttf");
}

:root {
  font-family: "Source-sans", sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbars for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  display: none;
}


body {
  width: 100%;
  min-height: 100vh;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.backgroundBlue {
  background-image: 
    linear-gradient(rgba(10, 17, 33, 0.97), rgba(10, 17, 33, 0.97)), 
    url('./assets/pattern.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  perspective: 1px;
  backface-visibility: hidden;
}

.backgroundNoPattern {
  background-color: rgba(10, 17, 33);
}

.navbarColor {
  background-color: #192439;
}

.postTitleColor {
  background: linear-gradient(to right, #334871, #3b3c93);
}